{{if .Success}}
<html>
  <head>
    <title>ресурс добавлен</title>
  </head>
  <body>
  <span style="color: darkgreen;">ресурс добавлен</span>
  </body>
</html>
{{else}}
<div class="overview-boxes">
    <h3>Добавить новый ресурс:</h3>
    <form method="POST" action="/h5-add" target="message">
        <label>Название:</label> <input type="text" name="Title"> <br/>
        <label>Путь ресурса:</label> <input type="text" name="Path"> <br/>
        <label>Логин:</label> <input type="text" name="Login"> <br/>
        <label>Пароль:</label> <input type="text" name="Password"> <br/>
        <label>Расписание:</label> <input type="text" name="TimeTable" value="* * * * *"> (минута, час, день, месяц, день недели) <br/>
        <label>Максимальное число снимков:</label> <input type="text" name="MaxSnap"> <br/>
        <label>Сервисы требующие перезапуска:</label> <br/>
        <textarea name="Services" rows="7" cols="20"></textarea> <br/>
        <input type="hidden" name="Status" value="wait">
        <input value="Добавить" type="submit" name="Send">
	<iframe name="message" style="width: 100%; height: 40px; border: 0; color: darkgreen;"></iframe>
    </form>
</div>
{{end}}
