<div class="overview-boxes">
    <h3>Настройка:</h3>
    <form method="POST" action="/h5-conf"  target="message">
        <label>Организация:</label> <input type="text" name="Title" value="{{.Title}}"> <br/>
        <label>Пул:</label> <input type="text" name="Pool" value="{{.Pool}}"> <br/>
        <input value="Сохранить" type="submit" name="Send" > <br/>
	<iframe seamless name="message" style="width: 100%; height: 40px; border: 0; color: darkgreen;"></iframe>
    </form>
</div>
