<div class="overview-boxes">

    <form method="POST" action="/h5-edit" target="message">
        <label>Идентификатор: {{.Id}}</label> <input type="hidden" name="id" value="{{.Id}}"> <br/>
        <!-- <label>Статус: {{.Status}}</label> --> <input type="hidden" name="Status" value="{{.Status}}"> <!-- <br/> -->
        <label>Название:</label> <input type="text" name="Title" value="{{.Title}}"> <br/>
        <label>Путь:</label> <input type="text" name="Path" value="{{.Path}}"> <br/>
        <label>Логин:</label> <input type="text" name="Login" value="{{.Login}}"> <br/>
        <label>Пароль:</label> <input type="text" name="Password" value="{{.Password}}"> <br/>
        <label>Расписание:</label> <input type="text" name="TimeTable" value="{{.TimeTable}}"> (минута, час, день, месяц, день недели) <br/>
        <label>Максимальное количество снимков:</label> <input type="text" name="MaxSnap" value="{{.MaxSnap}}"> <br/>
        <label>Сервисы требующие перезапуска:</label> <br/>
        <textarea name="Services" rows="7" cols="20">{{.Services}}</textarea> <br/>
        <input value="Сохранить" type="submit" name="Send">
	<iframe name="message" style="width: 100%; height: 40px; border: 0; color: darkgreen;"></iframe>
        <label>Снимки:</label> <br/>
	<iframe seamless name="snapshot" style="width: 100%; border: 0;" src="/snapshot/{{.Id}}"></iframe>
<!--        <span style="cursor: pointer;" title="View snapshots" onclick="update_content('/h5-snapshot/{{.Id}}')">Снимки файловой системы &#128247;</span></br> -->
    </form>

<!--
    <div class="box">
	<div class="title">Ресурс:</div>
        <div class="rigth-side">
            <div class="box-topic">
	    </div>
	</div>
    </div>
-->
</div>
