<div class="overview-boxes">
{{range .WorkList}}
    {{if .Done}}
<!--            <li class="{{.Status}}">{{.Title}} - {{.Status}} [{{.Id}}]</li> -->
    {{else}}
    <div class="box">
        <div class="right-side">
            <div class="title" style="cursor: pointer;" onclick="update_content('/h5-edit?id={{.Id}}')">{{.Title}}</div>
            <div class="box-topic">
			<span style="cursor: pointer; color: darkblue;" title="Edit resource" onclick="update_content('/h5-edit?id={{.Id}}')">{{.Path}}</span>
			<span style="cursor: pointer;" title="View snapshots" onclick="update_content('/h5-snapshot/{{.Id}}')">&#128247;</span>
			<span style="cursor: pointer; color: red;" title="Remove resource"  onclick="update_content('/h5-remove?id={{.Id}}')">&#x2716;</span>
	    </div>
	</div>
    </div>
    {{end}}
{{end}}
</div>
