<div class="overview-boxes">
<!--    <div class="box">
        <div class="right-side">
            <div class="title">{{.PageTitle}}</div>
            <div class="box-topic"> -->
		<span>{{.PageTitle}}</span>
		<pre>{{.Message}}</pre>
<!--	    </div>
	</div>
    </div> -->
</div>
