<html>
<head>
    <meta http-equiv="refresh" content="3">
<style>
.wait {
  color: gray;
  text-align: left;
} 
.run {
  color: black;
  text-align: left;
  font-weight: bold;
} 
.done {
  color: green;
  text-align: left;
} 
.error {
  color: red;
  text-align: left;
} 
</style>
</head>
<body>
<p>Список ресурсов:</p>
<ul>
    {{range .WorkList}}
        {{if .Done}}
            <li class="{{.Status}}">{{.Title}} - {{.Status}} [{{.Id}}]</li>
        {{else}}
            <li class="{{.Status}}"><a href="/edit?id={{.Id}}" target="content">{{.Title}} - {{.Path}}</a> <a href="/snapshot/{{.Id}}" target="content">&#128247;</a> <a href="/remove?id={{.Id}}" target="content">&#x2716;</a></li>
        {{end}}
    {{end}}
</ul>
</body>
</html>
